
#review-btn{
    background: gold;
    border: 1px solid goldenrod;
    padding: 10px;
    border-radius: 5px;
}
.container {
    position: relative;
}

.row{
    width: 100% !important;
}
.product-ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}


@media  (min-width: 576px) and (max-width: 767.98px){
    .category-form, .category-form .form-items{
        display: flex;
        flex-direction: row;
    }
    .category-form li{
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
        top: 0;
    }
    .form-items li {
        
        padding-bottom: 0 !important;
        margin-right: 10px;
        padding-left: 10px !important;
       
    } 
   
   
}
@media  (max-width: 575.98px) {
   
    .category-form input {
        display: none;
    }
    .form-items li {
        
        padding-bottom: 0 !important;
        margin-right: 7px;
       
    } 
    .category-form{
        width: 100%;
        flex-direction: column;
    }

   
}

.form-items li{
  
    padding-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
}
.form-items li{
   
    margin-right: 5%;

}
.form-items{
    padding-left: 0;
}
