/* .reuseable-container{
    display: flex;
    width: 100%;
}
.reuseable-container .product-container{
    width: 70%;
    margin-left: 20px;
    margin-right: 10px;
    border-right: 2px solid lightgray;
}
.reuseable-container .cart-container{
    width: 23%;
}
.container .first-row{
   
    border: 1px solid black;
}
.container .first-row .first-row-col{
    border: 2px solid red;
} */

.container {
    position: relative;
}

.row{
    width: 100% !important;
}
ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
@media  (min-width: 1200px) {
    
}
  
