.Cart-Section{
    width: 100%;
    background-color: cornsilk;
    padding: 10px;
    position: relative;
    padding-bottom: 15%;
  
}
.cart-top{
    text-align: center;
}
.Cart-Section .amount{
    float: right;
    
}
.Cart-Section h4{
    border-bottom: 1px dotted gray;
}
#special-offer{
    color: red;
}
#g-total{
    color: green;
}
.review-btn{
    text-align: center;
}

@media (min-width: 0px) and (max-width: 767.98px) {
    .Cart-Section h1, .Cart-Section h2, .Cart-Section h3, .Cart-Section h4, .Cart-Section h5, .Cart-Section h6{
        font-size: 15px;
    }
  
}


@media  (min-width: 575.98px){
    .Cart-Section{
        font-size: 12px;
    }
}
