.Cart-Section{
    width: 100%;
    background-color: cornsilk;
    padding: 10px;
    position: relative;
    padding-bottom: 15%;
  
}
.cart-top{
    text-align: center;
}
.Cart-Section .amount{
    float: right;
    
}
.Cart-Section h4{
    border-bottom: 1px dotted gray;
}
#special-offer{
    color: red;
}
#g-total{
    color: green;
}
.review-btn{
    text-align: center;
}

@media  (min-width: 768px) {
  
}
