@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body {
    font-family: 'Josefin Sans', cursive;
  }
.about-body .Chart-section{
    margin: auto;
    
}
.about-text{
    padding: 5%;
    color: rgb(71, 78, 58);
  
    
}

.about-text span{
    color: green;
}
.contact-text{
    text-align: right;
}
.contact-method{
    text-align: left;
    
}
.contact-method ul li, .contact-text{
    font-size: 25px;
}

.contact-method .dropdown{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-top: 0 !important;
    
}

.contact-method .dropdown .dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    height: 50px;
    padding: 12px 12px;
    transition: 30000ms;
    padding-top: 0;
    

}
.contact-method .dropdown .dropdown-content a:hover{
    color: gold;
}
.contact-method .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: row !important;
    top: 0;
    border-radius: 10px;
    align-items: center;
    animation: hoverforcontact 1s linear;
    animation-fill-mode: forwards; 
  }
  .contact-method .dropdown ul{
    margin-top: 0 !important;
    top: 0;
    display: flex;
  }
  .contact-method button{
    border: 1px solid sandybrown;
    background: sandybrown;
    border-radius: 10px;
  }
 
  li{
    list-style: none;
    margin-left: 20px;
    
  }

  .footer{
    height: 200px;
  }
  .about-text ul li{
    text-align: left;
    color: darkolivegreen;
  }
  .about-text h4{
    padding-top: 20px;
  }
  .about-text ul{
    flex-direction: column;
   
  }
  .about-text .circle{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin:auto;
    text-align: center;
    border: 5px dotted blue;
    
    
}
  .about-text .circle h1{
    margin: auto;
    padding: 15%;
  }
  .about-text .circle .love{
    height: 50px;
    width: 50px;
    position: relative;
    top: -10px;
    left: 40%;
  }
  .about-text .circle .love a  .heart-icon{
    top: 0;
    font-size: 50px;
    color: red;
    overflow: hidden;
    
  }
  .about-text .circle .love a  .heart-icon{
    animation: mymove 3s linear infinite;
    transition: 2000ms;
    animation-delay: 1s;
  }
 

  @media  (min-width: 1400px) {
    .about-body{
      overflow: hidden;
    }}
  @media  (min-width: 1200px) {
    .about-body{
      overflow: hidden;
    }}
  @media  (min-width: 992px) {
    .about-body{
      overflow: hidden;
    }
    .about-text {
      flex-direction: column;
    }
    /* .recharts-surface{
      width: 90% !important;
    } */
    .about-text .circle {
      width: 400px;
      height: 400px;
    }
    .contact-method .dropdown:hover .dropdown-content {
      animation: hoverforcontact2 1s linear;
      animation-fill-mode: forwards; 
      
     
    }
    
  }
  @media  (min-width: 768px) {
    .about-body{
      overflow: hidden;
    }
    .circle, .text-heart{
      width: 50%;
    }
    .about-text {
      display: flex;
    }
    .recharts-wrapper {
      position: relative;
      cursor: default;
      width: 650px;
      height: 6500px;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: auto;
    }
    .contact-text {
      text-align: left;
      width: 25% !important;
    }
    .contact-method {
      text-align: left;
      left: 0;
      margin-left: 0;
      padding-left: 0;
      width: 75% !important;
    }
   .col{
      
        flex: none;
      
    }
  }
  @media  (min-width: 250px) and (max-width: 576px) {
    .about-body{
      overflow: hidden;
    }
    .about-text .circle {
      width: 250px;
      height: 250px;
    }
  }
  @media  (max-width: 249.98px) {
    .about-body{
      overflow: hidden;
    }
    .about-text .circle {
      width: 150px;
      height: 150px;
    }
    .about-text .circle h1 {
      padding: 11%;
      font-size: 12px;
    }
    .about-text .circle .love a .heart-icon {
     
      font-size: 32px;
      
    }
    .about-text .circle .love {
      top: -3px;
      left: 34%;
    }
    .text-heart h4, .text-heart ul li{
      font-size: 11px;

    }
    .contact-method ul li, .contact-text {
      font-size: 11px;
      text-align: left;
    }
    .social-ico .col{
      width: 100%;
    }
    .social-ico{
      display: flex;
      flex-direction: column;
    }
    .h6, h6 {
      font-size: 10px;
    }
    .social-ico .dropdown{
      padding-left: 0;
    }
    .footer h4, .footer li{
      font-size: 10px;
    }
    .footer-body .footer-logo img {
      width: 50%;
    }
    .Cart-Section h2, .Cart-Section h3, .Cart-Section h4, .Cart-Section h5, .Cart-Section h6{
      font-size: 10px;
    }
    .circle-cart-body, .circle-cart-details{
      width: 150px !important;
    }
    .circle-cart-btn{
      width: 100%;
    }
    .circle-review-btn{
        margin-top: -33px !important;
        right: 64px !important;
        font-size: 10px;
     
    }
    
  }




  @keyframes mymove {
    from{
        color: red;
    }
    to{
        color: green;
        transform: rotateY(360deg);
    }
  
  }

  @keyframes hoverforcontact {
    from{
       
        left: 0;
    }
    to{
        left: 40%;
    }
  
  }
  @keyframes hoverforcontact2 {
    from{
       
        left: 0;
    }
    to{
      left: 50%;
    }
  
  }