.review-item{
    padding: 5% !important;
    border-bottom: 1px solid lightgray;
    width: 100%;
    font-size: 20px;
    border-bottom: 2px dotted goldenrod;
    display: flex;
    margin-bottom: 10px;
    box-shadow: 10px 10px 20px lightgray;
   
    
}
.review-item .img{
    width: 40%;
    padding: 5%;
}
.review-item .details{
    width: 60%;
}
.review-item .details{
   padding: 10px;
}
.review-item img{
    width:100% !important;
}
.review-item img:hover{
    animation: hoverreviewimg 1s linear;
    animation-fill-mode: forwards; 
    animation-iteration-count: alternate 1s;
   


}
@keyframes hoverreviewimg {
    from{
       
       scale: 1;
    }
    to{
        scale: 1.1;
    }
  
  }
  @media  (min-width: 575.98px){
    .review-item{
        font-size: 15px;

    }
    .review-item h5{
   
        font-size: 15px;  
    }
    .review-item{
        padding: 2px;
        padding-left: 10px;
        font-size: 15px;  
}
   

  }

@media  (max-width: 575.98px){
    .review-item{
        padding: 2px;
        padding-left: 10px;
        font-size: 15px;  
}
.review-item h5{
   
    font-size: 15px;  
}



}