/* .product{
    display: flex;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    
} */
/* .product-details{
    background-color: lightgray;
    padding: 4px;
    width: 100%;
} */
/* .product-img{
    padding-right: 20px;
} */
/* .product-name{
    color: blue;
    font-weight: 400;
} */
.add-to-cart-btn{
    background-color: goldenrod;
    width: 160px;
    height: 40px;
    border: 1px solid burlywood;
    border-radius: 5px;
}
.image {
	width: 100% !important;
    overflow: hidden !important;
    text-align: center;
}
.image .card-img{
    width: 60% !important;
    margin: auto;
    padding: auto;
}
.list-group-flush > .list-group-item {
	border-width: 0 0 var(--bs-list-group-border-width);
	padding: 0;
    border: none;
    padding-left: 2% !important;
}
.card-footer {
	margin: auto;
}
.card-title {
	text-transform: capitalize;
    background-color:gray;
    padding: 2px;
}

.card-img:hover{
    transform: scale(2);
    transition: 900ms;
}
.card, .card .card-list-group-item{
    background-color: darkgray;
}
.card:hover{
    box-shadow: 5px 10px 8px lightgray;
}