/* .offer-banner{
    display: flex;
    width: 100%;
}
.offer-banner .left-side, .offer-banner .right-side{
    width: 25%;
  
}
.offer-banner .left-side .offer, .offer-banner .right-side .offer{
    border: 2px solid yellowgreen;
    width: 100%;
    background: navajowhite;
    height: 300px;
    margin-bottom: 10px;
    padding: 2%;
   
}
.offer-banner .left-side img, .offer-banner .right-side img{
    width: 100%;
    height: 200px;
}
.middle-side{
    width: 50%;
    height: 600px;
    margin: 3%;
    background-image: url(../../images/images.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.middle-side .offer {
	position: relative;
	top: 25%;
}
.middle-side .offer .offerImg{
   
}
.offer-item{
    padding: 2%;
    text-align: center;
} */
/* For Classic Solid */
.home-body .ourItems{
    margin-bottom: 10px;
}
.home-body .ourItems .ourItems-top-text{
    text-align: left;
    padding: 5%;
    padding-bottom: 0 !important;
    
}
.home-body .ourItems .ourItems-top-text h4{
    width: 22%;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    border-bottom: 5px double black;
}
.home-body .ourItems .items{
    display: flex;
    width: 100%;
}
.home-body .ourItems .items .item{
    width: 33.33%;
    padding: 5%;
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    background: rgb(143, 168, 168,0.5);
}
.home-body .ourItems .items .item .item-icon{
    font-size: 50px;
    color: rgb(44, 43, 38);
}




.before-footer-area {
    position: relative;
    box-sizing: border-box;
    height: 400px;
    background-image: url(../../images/bg-gi.gif);
}
.before-footer-area-header-text{
    text-align: center;
    padding: 2%;
    color: white;
    font-weight: 900;
    width: 50%;
    position: relative;
    left: 25%;
    border-bottom: 10px double rgb(224, 224, 50, 0.5);


}
.before-footer-area .items {
    display: flex;
    width: 100%;
    position: relative;
    top: 10%;
}

.before-footer-area .items .item {
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;


}

.before-footer-area .items .item .span {
    background: transparent lightgray;
}

.fa,
.fas,
.far {
    font-family: FontAwesome !important;
}

.before-footer-area .items .item .options {
    display: flex;
    position: relative;
    background: rgb(107, 97, 97, 0.3);
    padding: 5%;
    overflow: hidden;
    cursor: pointer;

}

.before-footer-area .items .item .options .icon {
    font-size: 40px;
    color: white;
    margin-right: 10px;
}

.before-footer-area .items .item .options::before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    height: 2%;
    width: 5%;
    padding: 3%;
    background: yellow;
    position: absolute;

}

.before-footer-area .items .item .options:hover::before {
    animation: move 4s linear infinite;
    
}

/* Define keyframes for the animation */
@keyframes move {
    0% {
      top: 0;
      left: 0;
    }
    25% {
      top: 0;
      left: 95%;
    }
    50% {
      top: 89%;
      left: 95%;
      bottom: 5%;
      
     
    }
    75% {
      top: 88%;
      left: 0;
    }
    100% {
      top: 0;
      left: 0;
    }
  }
/* Apply the animation to an element */