.header{
text-align: center;
}
.header img{
    width: 10%;
    height: 80px;
}
.header nav{
    background-color: black;
    line-height: 40px;
    text-align: left;
    position: relative;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 20px;
    padding: 5px; 
}

nav a:hover{
    background-color: gray;
}
.search-section{
    position: relative;
    float: right;
    padding-right: 50px;
}
.search-section button{
    margin: 4px;
    padding: 5px;
}
.search-section input{
    width: 500px;
    height: 20px;
}

