.footer-body ul {
    display: block !important;
    flex-direction: column;
}

.footer-body ul li a{
    text-decoration: none;
    color: rgb(16, 26, 10);
    
}
.footer-body ul li{
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}
.footer-body .footer-logo img{
    width: 20%;
}
.footer-body {
   background-color: darkgray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    padding: 5%;
}

.footer-body h4{
    border-bottom: 2px solid ghostwhite;
}
.footer-body ul li:hover a{
    color: goldenrod;
}


@media (min-width: 768px){
    .footer-item{
        width: 33.33%;
    }


}

@media (max-width: 992px){
    .footer-item{
        
        font-size: 15px;
        z-index: 1000;
    }
    .footer-item h4{
        font-size: 18px;
    }
}