@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body {
    font-family: 'Josefin Sans', cursive;
  }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
